<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <title>방방</title>
    <link rel="icon" href="images/customfavicon.png">
    <script src="js/userData.js"></script>

    <style type="text/css">
    
      @font-face {
        font-family: "godob";
        src: url(fonts/GodoB.ttf);
      }

      #navId{
        background-color: #ffffff;
      }

      li{
        font-family: godob;
      }

      .tester{
        width: 60%;
        float: right;
        padding: 12px 24px;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        font-family: godob;
        line-height: 18px;
        color: #575756;
        background-color: transparent;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border: 1px solid #575756;
        border-radius: 10px;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
      }

      .tester1{
        width: 100%;
        float: right;
        padding: 12px 24px;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        font-family: godob;
        line-height: 18px;
        color: #575756;
        background-color: lightgray;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border: 1px solid #575756;
        border-radius: 10px;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
      }

      input:focus {
        outline:none;
      }

    </style>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav id="navId" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><img style="cursor: pointer;" src="images/mainPic.png" onclick="location.href='main'"></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li style="font-size: 15px;"><a href="roomdetail" style="color: black;">Search</a></li>
            <li style="font-size: 15px; "><a href="release" style="color: black;">Release</a></li>
            <li style="font-size: 15px; "><a href="roomate" style="color: black;">Roommates</a></li>
            <li style="font-size: 15px; "><a href="community" style="color: red;">Community</a></li>
            <li style="font-size: 15px; "><a href="notice" style="color: black;">Notice</a></li>
            <li id="logN1" style="font-size: 15px;"><a href="signup" style="color:lightgrey;">Sign up</a></li>
            <li id="logN2" style="font-size: 15px;"><a href="signin" style="color:lightgrey;">Sign in</a></li>
            <li id="logY1" style="font-size: 15px;"><a href="main" style="color:lightgrey;">My Page</a></li>
            <li id="logY2" style="font-size: 15px;"><a id="logoutId" style="color:lightgrey; cursor: pointer;">Log Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" style="margin-top: 50px; background-color: #ffffff;">
        <div>
          <div style="width: 50%; height: 100px; float: left; ">
            <p style="font-family: godob; font-size: 25px; ">MJ더퍼스트</p>
          </div>
          <div style="width: 50%; height: 100px; float: right;">
            <input class="tester" type="text" placeholder="검색어를 입력하세요.">
          </div>
        </div>
        <div style="margin-top: 10px; width: 100%; height: 50px; margin-top: 50px;">
          <input class="tester1" type="text" placeholder="새 글을 작성해주세요.">
        </div>
      
        <div style="width: 100%; height: 120px; border-width: 1px; border-style: solid; border-color: #e7e7e7; margin-top: 70px;">
          <div style="margin-top: 10px; font-family: godob; ">
            <img style="float: left;" src="images/noprofileSmall.png" alt="">
            <p style="float: left;">코로나싫어</p>
            <p style="float: left; font-size: 12px; margin-left: 5px;">1분전</p>
          </div>
          <div style="clear: both;">
            <div style="margin-top: 70px; margin-left: 20px;">
              <p style="float: left;font-family: godob; font-size: 15px;">오늘 하모니 마트 열었나요?</p>
              <p style="float: right;font-family: godob; font-size: 15px; margin-right: 20px; margin-left: 2px;">0</p>
              <img style="float: right; border-radius: 10px;"  src="images/comment.png" />
          </div>
          </div>
        </div>

        <div style="width: 100%; height: 120px; border-width: 1px; border-style: solid; border-color: #e7e7e7;">
          <div style="margin-top: 10px; font-family: godob; ">
            <img style="float: left;" src="images/noprofileSmall.png" alt="">
            <p style="float: left;">카페베네</p>
            <p style="float: left; font-size: 12px; margin-left: 5px;">10분전</p>
          </div>
          <div style="clear: both;">
            <div style="margin-top: 70px; margin-left: 20px;">
              <p style="float: left;font-family: godob; font-size: 15px;">저랑 신전 떡볶이 최소 금액 맞춰서 주문하실 분!!</p>
              <p style="float: right;font-family: godob; font-size: 15px; margin-right: 20px; margin-left: 2px;">9</p>
              <img style="float: right; border-radius: 10px;"  src="images/comment.png" />
          </div>
          </div>
        </div>

        <div style="width: 100%; height: 120px; border-width: 1px; border-style: solid; border-color: #e7e7e7;">
          <div style="margin-top: 10px; font-family: godob; ">
            <img style="float: left;" src="images/noprofileSmall.png" alt="">
            <p style="float: left;">익명</p>
            <p style="float: left; font-size: 12px; margin-left: 5px;">30분전</p>
          </div>
          <div style="clear: both;">
            <div style="margin-top: 70px; margin-left: 20px;">
              <p style="float: left;font-family: godob; font-size: 15px;">1502호 노래 좀 그만 불러라 복면가왕도 아니고;;</p>
              <p style="float: right;font-family: godob; font-size: 15px; margin-right: 20px; margin-left: 2px;">0</p>
              <img style="float: right; border-radius: 10px;"  src="images/comment.png" />
          </div>
          </div>
        </div>

        <div style="width: 100%; height: 120px; border-width: 1px; border-style: solid; border-color: #e7e7e7;">
          <div style="margin-top: 10px; font-family: godob; ">
            <img style="float: left;" src="images/noprofileSmall.png" alt="">
            <p style="float: left;">호두땅콩콩</p>
            <p style="float: left; font-size: 12px; margin-left: 5px;">45분전</p>
          </div>
          <div style="clear: both;">
            <div style="margin-top: 70px; margin-left: 20px;">
              <p style="float: left;font-family: godob; font-size: 15px;">지금 나만 방에 난방 안되냐..</p>
              <p style="float: right;font-family: godob; font-size: 15px; margin-right: 20px; margin-left: 2px;">3</p>
              <img style="float: right; border-radius: 10px;"  src="images/comment.png" />
          </div>
          </div>
        </div>

        <div style="width: 100%; height: 120px; border-width: 1px; border-style: solid; border-color: #e7e7e7;">
          <div style="margin-top: 10px; font-family: godob; ">
            <img style="float: left;" src="images/noprofileSmall.png" alt="">
            <p style="float: left;">벗3589</p>
            <p style="float: left; font-size: 12px; margin-left: 5px;">52분전</p>
          </div>
          <div style="clear: both;">
            <div style="margin-top: 70px; margin-left: 20px;">
              <p style="float: left;font-family: godob; font-size: 15px;">제발 아무나 바선생 좀 잡아줄 벗... 사례합니다 제발요</p>
              <p style="float: right;font-family: godob; font-size: 15px; margin-right: 20px; margin-left: 2px;">5</p>
              <img style="float: right; border-radius: 10px;"  src="images/comment.png" />
          </div>
          </div>
        </div>
        
        
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>

      $(document).ready(function(){

        $("#logoutId").on("click", function(){
            localStored = "";
          })

          function init(){
            if(localStored !=""){
              $("#logN1,#logN2").css("display","none");
              $("#logY1,#logY2").css("display","block");
            }else{
              $("#logN1,#logN2").css("display","block");
              $("#logY1,#logY2").css("display","none");
            }
          }
          init();
      })

    </script>

  </body>
</html>
